*{
    padding: 0%;
    margin: 0%; 
    box-sizing: border-box;
    text-transform: capitalize;
}
/* the styling of header */
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    background-image: linear-gradient(#033747,#012733);
    position: fixed;  
    z-index:1;  
}
nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding:0px 30px;
    color:aliceblue;
    text-decoration: none;
}
nav li a:hover{
    color:chocolate;
    transition: all 0.4s ease 0s;
}

/* the styling of header is finished */

/* the styling of main section of home page starts */
.home{
    height:450px;
    background-color: #033747;
}
.side-image{
    height: 375px;
    width:600px;
    float: right;
    margin-top: 75px;
}
.mainh1{
    color:aliceblue;
    font-size: 50px;
    /* text-decoration: solid; */
    float:left;
    margin:150px;
    text-transform: uppercase;

}
/* the styling of main section of home page finishes */

/* styling about section of main page */
.sec2{
    height: 750px;
    width:100%;
    background-color:rgba(255, 228, 196, 0.459);
}
.myphoto{
    position:sticky;
    height:400px;
    width: 400px;
    float:left;
    margin-left:30px;
    z-index:0;
    
    border-radius: 80%;
    filter: drop-shadow(10px 10px 10px #033747);

}
.sec2list{
    display: inline-block;
    list-style: none;
    color: #033747;
    text-decoration: none;
    margin-top:40px;
    margin-left:150px;
    
}
.aboutdetails{
    color: #033747;
    margin-left: 30px;
    float: right;
}
.handhold{
    height:400px;
    width:400px;
    opacity:0.5;
    float:left;
    margin-left: 300px;
}
.aboutbuttcont{
    background-color: #033747;
    border-radius: 10%;
    color: aliceblue;
    padding: 9px 10px;
    margin-top: 5px;
}
.aboutbuttcont a:hover{
    color:aliceblue;
}
.aboutbuttcont:hover{
    border: 3px solid;
    border-color: #012733;
}
.aboutbuttcont a{
    color:aliceblue;
}

/* styling of footer section begins */
.footer{
    text-align: center;
    color: aliceblue;
    width: 100%;
    height: 350px;
    border-top: 50%;
    background-image: url(images/footer_yl.gif);
    background-color: #033747;
    background-attachment: fixed;
    background-size:cover;
}
.footerh1{
    margin-top: 25px;
    color:aliceblue;
    font-size: 50px;
    margin:10px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.map{
    float: right;
    border: aliceblue 1px solid;

}

.btn{
    background-color: #033747;
    border-radius: 50px;
    border: 1px;
    display: inline-block;
    cursor: pointer;
}
.btn-outline-secondary{
    color:gray;
    border-color: aliceblue;
}
.links i{
    margin-right: 10px;
    margin-top: 5px;
}

/* starting with the FAQs section */

.sec3{
    width: 100%;
    height:580px;
    background-color: #012733;
    text-align: center;
}
.sec3 h1{
    color: aliceblue;
    text-align: center;
    font-size:50px;
    margin-top: 10px;
    padding-top: 25px;
}

details{
    background-color: #303030;
    color: #fff;
    font-size: 1.3 rem;
    cursor: pointer;
    transition: 0.4s;
    width:50%;
    text-align: center;
    border: 1px aliceblue;
    margin-left: 380px;
}
 summary {
    margin-top: 1.5em;
    padding: 1.5em 1.5rem;
    text-align: center;
  }
 .sec3 div{
    font-size: small;
 } 
  summary::-webkit-details-marker {
    display: none;
  }
  
  summary:after{
    content: "\002B";
  }
  
  details[open] summary {
      border-bottom: 1px solid #aaa;
      margin-bottom: .5em;
  }
  
  details[open] summary:after{
    content: "\00D7";
  }
  
  details[open] div{
    padding: .5em 1em;
  }

  /* styling the coffe corner */
  .sec4{
    background-color: aliceblue;
    width: 100%;
    height: 500px;
  }
  .coffeesec4{
    width:500px;
    height:500px;
    float: right;
  }
  .sec4 h2{
    color:#012733;
    text-transform: capitalize;
    font-size: 60px;
  }
  .sec4 h3{
    color:#012733;
    text-transform: capitalize;
    font-size: 40px;
  }
  .regbutt4{
    background-color: #033747;
    border: 1px solid;
    border-radius: 10%;
    color: aliceblue;
    padding: 10px 12px;
    margin-top: 20px;
  }
 
.regbutt4:hover {
    background-color:aliceblue;
    color: #012733;
    border: solid 2px;
    border-color: #012733;
}
.sec4 div{
    padding: 100px;
    display: inline-block;
  }
 
  